@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    z-index: 3;
    background: white;
    width: 100%;
}

h1 {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #5A5A5A;
}

h2 {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

p {
    margin: 0;
}

.logo {
    height: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 85px;
    border-bottom: 1px solid #EAEAEA;
}

.btm-bar {
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
}

.bar__container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool-wrap {
    display: flex;
    gap: 16px;

    input {
        padding-left: 36px;
        border-radius: 8px;
        border: 1px solid #A8A8A8;
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 1.5;
        background: url(../images/searchGlass.svg) no-repeat scroll 9px 9px;
    }
}

.card {
    width: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 30px;
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 8px;

    h2 {
        margin-bottom: 7px;
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    padding-top: 250px;
}

.contact__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.blue-top {
    position: absolute;
    top: 0;
    background: #4F99EF;
    height: 28%;
    width: 100%;

    img {
        position: absolute;
        top: 35px;
        left: 25px;
        cursor: pointer;
    }
}

.contact-image {
    width: 45%;
    margin-bottom: 16px;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input {
    padding: 3px 10px;
    border-radius: 8px;
    border: 1px solid #A8A8A8;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
}

.input-wrap {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        margin-bottom: 5px;
    }
}

.check-wrap {
    display: flex;
    align-items: center;
    label {
        margin-right: 8px;
    }
}

.info__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
}

.card-btn-wrap {
    padding-top: 16px;
    display: flex;
    gap: 10px;

    button {
        padding: 8px 22px;
        border-radius: 8px;
        border: none;
        font-family: 'Poppins';
        line-height: 1.5;
        font-size: 14px;
        cursor: pointer;
    }
}

.gray-btn {
    background: #D9D9D9;
}

.red-btn {
    background: #EF4F4F;
    color: white;
}

.card__list {
    display: flex;
    gap: 40px;
}

.primary-btn {
    background: #4F99EF;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 6px 24px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s cubic-bezier(0.25, 1, 0.5, 1);
}

.primary-btn:hover {
    background: #498cd7;
}

.primary-btn:active {
    transform: scale(.98);
}

.secondary-btn {
    background: #EF4F4F;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 6px 24px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s cubic-bezier(0.25, 1, 0.5, 1);
}

.secondary-btn:hover {
    background: #d44646;
}

.secondary-btn:active {
    transform: scale(.98);
}

.btn-wrap {
    padding-top: 20px ;
    display: flex;
    gap: 15px;
}